{% extends "base.html" %}
{% block container %}
	{% if trolleys %}
	<table class="table table-bordered table-striped"
		<tr>
			<th>Trolley ID</th>
			<th>Date Created</th>
			<th></th>
		</tr>
		{% for trolley in trolleys %}
		<tr>
			<td><a href="{{ url_for('trolley_view', trolley_id=trolley.trolley_id, outlet_id=outlet_id) }}">{{ trolley.trolley_id }}</a></td>
			<td><div>{{ trolley.date_created.date() }}</div></td>
			<td><button id="delete" onclick="delete_trolley({{ trolley.trolley_id }})">Delete Trolley</button><br /></td>
			
		{% endfor %}
	</table>
	{% endif %}
		<a href="{{ url_for('trolley_view', outlet_id=outlet_id) }}">New Trolley</a>
	<div id="dialog-delete">
	</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
		function delete_trolley(trolley_id){
			console.log("Ready");
			$.ajax({
	            type: "POST",
	            contentType: "application/json",
	            url: "/trolley/"+trolley_id+"/delete/",
	            dataType: "json",
	            success: function(data) {
	            	$("#dialog-success").dialog("open");
	            	window.location.reload(true);
	                //var obj = jQuery.parseJSON(data); if the dataType is not specified as json uncomment this
	                // do what ever you want with the server response
	            },
	            error: function(){
	                  alert('error handing here');
	            }
	        });
	  	} 
</script>
{% endblock %}