{% extends "base.html"%}
{% block head %}
  		<style>
			.ui-autocomplete-category {
			font-weight: bold;
			padding: .2em .4em;
			margin: .8em 0 .2em;
			line-height: 1.5;
			}
			.form-control{
			width: inherit;
			}
		</style>
		<script>
			$.widget( "custom.catcomplete", $.ui.autocomplete, {
			_renderMenu: function( ul, items ) {
			  var that = this,
			    currentCategory = "";
			  $.each( items, function( index, item ) {
			    if ( item.category != currentCategory ) {
			      ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
			      currentCategory = item.category;
			    }
			    that._renderItemData( ul, item );
			  });
			}
			});
		</script>
{% endblock %}
{% block container %}
	{% if trolley_items %}
	<form id="trolley-form" class="form-inline" role="form">
			<input type="hidden" name="trolley_id" class="form-control" value="{{ trolley_id }}"/>
				<div id="form-container">
					{% for item in trolley_items %}
					<div id="fields{{ loop.index0 }}">
						<input type="hidden" id="barcode" class="form-control" name="barcode" value="{{ item.barcode }}" parsley-minlength="8"/>
						<input type="text" id="search" class="form-control" name="name" value="{{ item.product_name }}" required/>
						<input type="text" id="quantity" class="form-control" name="quantity" value="{{ item.quantity }}"parsley-type="number" required/>
						<input type="button" class="btn btn-default" value="+" id="add" />
						<input type="button" class="btn btn-default"value="-" id="remove" /> 
					</div>
					{% endfor %}
				</div>
				<br />
				<input type="submit" class="btn btn-default" value="Edit Trolley" />
	</form>
	{% else %}
	<form id="trolley-form" class="form-inline" role="form">
				<div id="form-container">
					<div id="fields0">
						<input type="hidden" id="barcode" class="form-control" name="barcode" value="" parsley-minlength="8"/>
						<input type="text" id="search" class="form-control" name="name" required/>
						<input type="text" id="quantity" class="form-control" name="quantity" parsley-type="number" required/>
						<input type="button" class="btn btn-default" value="+" id="add" />
						<input type="button" class="btn btn-default" value="-" id="remove" /> 
					</div>
				</div>
				<br />
				<input type="submit" class="btn btn-default" value="Add Trolley" />
	</form>
	{% endif %}
	<a href="{{ url_for('index') }}">Go Home</a>
	<div id="dialog-success" title="Message">
			<p>Trolley Created!</p>
			<a href="{{url_for('index')}}">Go Home</a>
	</div>
{% endblock %}
{% block scripts %}
	<script type="text/javascript">
		$.fn.serializeObject = function()
			{
			    var o = {};
			    var a = this.serializeArray();
			    $.each(a, function() {
			        if (o[this.name] !== undefined) {
			            if (!o[this.name].push) {
			                o[this.name] = [o[this.name]];
			            }
			            o[this.name].push(this.value || '');
			        } else {
			            o[this.name] = this.value || '';
			        }
			    });
			    return o;
			};
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			function get_price(){
				$.ajax({
		            type: "POST",
		            contentType: "application/json",
		            url: "{{ url_for('return_trolley_price') }}",
		            data: JSON.stringify({'trolley_id': {{ trolley_id }}, 'outlet_id': {{ outlet_id}} }),
		            dataType: "json",
		            success: function(data) {
		            	$("#price").remove();
		            	$("#warning").remove();
		            	if (data['price'] >= 0) {
		            		var priceField="<h3><div id=\"price\">Total Price: "+data['price'].toFixed(2)+"</div></h3>";
		            		var warningField="<h5><div id=\"warning\">Disclaimer: Price shown here is for estimating only. Actual price may vary.</div></h5>"
		            		$("#trolley-form").append(priceField);
		            		$("#trolley-form").append(warningField);
		            	}
		            	else {
		            		var warningField="<h5><div id=\"warning\">You have entered invalid values for barcode/quantity</div></h5>"
		            		$("#trolley-form").append(warningField);

		            	}
		                //var obj = jQuery.parseJSON(data); if the dataType is not specified as json uncomment this
		                // do what ever you want with the server response
		            },
		            error: function(){
		            	$("#price").remove()
		            	$("#warning").remove()
		            }
		        	});
			}
			{% if trolley_id %}
				get_price();
			{% endif %}
			$("#dialog-success").dialog({
				autoOpen: false,
		        modal: true,
		     });
			$(document).on('click', '#add', function() {
				var iter = $("#form-container div").length + 1;
				console.log(iter);
				var newfield = $("<div id=\"fields"+iter+"\"></div>");
				var barcodeField = $("<input type=\"hidden\" id=\"barcode\" class=\"form-control\" name=\"barcode\" />");
				var searchField = $("<input type=\"text\" id=\"search\" class=\"form-control\" name=\"name\" required />");
				var quantityField = $("<input type=\"text\" id=\"quantity\" class=\"form-control\" name=\"quantity\" parsley-type=\"number\" required/>");
				var addButton = $("<input type=\"button\" class=\"btn btn-default\" value=\"+\" id=\"add\" required/>");
				var removeButton = $("<input type=\"button\" class=\"btn btn-default\" value=\"-\" id=\"remove\" />");
				newfield.append(barcodeField);
				newfield.append(searchField);
				newfield.append(quantityField);
				newfield.append(addButton);
				newfield.append(removeButton);
				$("#form-container").append(newfield);
				searchField.catcomplete({
					source: "{{ url_for('autocomplete_search', outlet_id=outlet_id) }}",
					minLength: 3,
					select: function( event, ui ){
						console.log($(this).parent());
						if(ui.item) {
							insert(ui.item.id, this)
						}
					}
				});
				barcodeField.change( function() {
					var barcode=$(this).val();
					$("#trolley-form").parsley('destroy');
					$(this).parent().children("#quantity").attr('parsley-remote', '/validate/{{ outlet_id }}/quantity/'+barcode+'/');
					$("#trolley-form").parsley();
				});
			});
			$(document).on('click', '#remove', function() {
				var iter = $("#form-container div").length
				if (iter > 1) {
					$(this).parent().remove();
				}
			});
			$(document).on('submit', '#trolley-form', function(event) {
					event.preventDefault();
					// $("#trolley-form").parsley('validate');
				var datastring = $(this).serializeObject();
				if ($("#trolley-form").parsley('isValid')) {
					$.ajax({
		            type: "POST",
		            contentType: "application/json",
		            url: "{{ url_for('trolley_data') }}",
		            data: JSON.stringify(datastring),
		            dataType: "json",
		            success: function(data) {
		            	// $("#dialog-success").dialog("open");
		            	get_price();
		                //var obj = jQuery.parseJSON(data); if the dataType is not specified as json uncomment this
		                // do what ever you want with the server response
		            },
		            error: function(){
		                  alert('Incorrect product name');
		            }
		        	});
				}
			});
			$("#barcode").change( function() {
				var barcode=$(this).val();
				$("#trolley-form").parsley('destroy');
				$(this).parent().children("#quantity").attr('parsley-remote', '/validate/{{ outlet_id }}/quantity/'+barcode+'/');
				$("#trolley-form").parsley();
			});
			function insert(barcode, elem){
				$(elem).parent().children("#barcode").val(barcode).trigger('change');
			}
			$("#search").catcomplete({
				source: "{{ url_for('autocomplete_search', outlet_id=outlet_id) }}",
				minLength: 3,
				select: function( event, ui ){
					console.log($(this).parent());
					if(ui.item) {
						insert(ui.item.id, this)
					}
				}
			});
		});
	</script>
{% endblock %}